<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/aufgabe3.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <title>Document</title>
</head>
<body>
   <div  class="jvm-navbar">
  <div class="navbar-header">
    <a class="beuhne" href="../index.html">BÜHNE FREI FÜR:</a>
  </div>
  <div class="navbar-links-div">
    <ul class="navbar-links-list">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">AKT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aufgabe1.html">...1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aufgabe2.html">...2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="aufgabe3.html">...3</a>
      </li>
    </ul>
  </div>
</div>

<div class="main-banner-div">
<img class="main-banner" src="https://res.cloudinary.com/dgmgwjok1/image/upload/v1616107769/Apps-banner7_ldck2i.png" alt="banner_aufgabe3">
</div>
<div class="cut-banner-div">
  <img class="cut-banner" src="https://res.cloudinary.com/dgmgwjok1/image/upload/v1616002657/CUT-banner_ikqdwf.png" alt="CUT">
</div>
<div class="cut-description">
  <div class="cut-text-container">
      <h2 class="cut-header">CUT – der professionelle Haarschnitt zuhause.</h2>
      <p class="cut-summary">Die Pandemie hat aufgezeigt welch ein Grundbedürfnis unserer Gesellschaft die Friseure abdecken. Wie wäre es also mit einer professionellen Stütze für den Haarschnitt zuhause? Mit der Kamera ihres Smart Phones können sie ihre aktuelle Frisur scannen lassen und aufgrund der Ergebnisse erhalten sie Vorschläge für ihre neue Frisur. Wenn sie sich für eine davon entschieden haben erhalten sie ein Dokument mit Haarschablonen zum Ausschneiden und ein detailliertes Tutorial von einem unserer Profi Friseure. In der CUT Community ist es möglich Ergebnisse zu teilen und Tipps mit andern auszutauschen.</p>
  </div>
</div>
<div class="plana-banner-div">
  <img class="plana-banner" src="https://res.cloudinary.com/dgmgwjok1/image/upload/v1616107743/Plana_banner4_dybwne.png" alt="">
</div>
<div class="plana-description">
  <div class="plana-text-container">
    <div class="plana-summary-div">
      <h2 class="plana-header">Plana – because there is no Plan B</h2>
      <p class="plana-summary">Plana macht es Ihnen leichter, immer die nachhaltigste Option zu wählen, immer Plan "a" zu wählen. Durch die Beantwortung einiger Fragen zu Ihrem Lebensstil berechnet Plana einen Schätzwert für Ihren gesamten jährlichen CO2-Ausstoß. Anschließend wählen Sie eine Challenge, um Ihren Einfluss zu reduzieren. Zu den Challenges gehören Gewohnheiten wie z. B. eine pflanzliche Ernährung, welche tatsächlich die beste Möglichkeit ist, Ihre Umweltbelastung zu reduzieren. Die bereitgestellten Tools helfen dabei Ihr Ziel zu erreichen. Plana listet die Benutzer auf Basis ihrer Punktzahl auf, so dass diese sich motivieren können, indem sie die Fortschritte Ihrer Freunde sehen.</p>
    </div>
</div>
<div class="fast_track-banner-div">
  <img class="fast_track-banner" src="https://res.cloudinary.com/dgmgwjok1/image/upload/v1616002679/FastTrack-banner_arecgw.png" alt="">
</div>
<div class="fast_track-description">
  <div class="fast_track-text-container">
      <h2 class="fast_track-header">Fast Track - zeitsparendes Einkaufen, kein suchen, kein fragen, keine leeren Wege</h2>
      <p class="fast_track-summary">Jeder kennt es. Das Herumgesuche in unübersichtlichen Supermärkten und kaum hat man alles fällt einem ein das man noch etwas aus dem Gemüse Abteilung vergessen hat und dann heißt es zurück zum Anfang. Wie wäre es also mit einem Navigationssystem fürs Einkaufen? Fast Track ermöglich es Ihnen, in allen von Fast Track unterstützten Supermärkten, so effizient wie möglich einzukaufen. Fast Track nimmt eine logistische Reihung der Produkte auf ihrer Einkaufsliste vor und berechnet für Sie die beste Route.
                                    Ihre Einkaufslisten können jederzeit bearbeitet und überarbeitet werden. Vergangene Einkaufslisten werden für Sie gespeichert damit Sie jederzeit darauf zurückgreifen können.</p>
  </div>
</div>

</body>
</html>
