<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="../stylesheets/navbar.css">
  <link rel="stylesheet" href="../stylesheets/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

  <title>Document</title>
</head>
<body>
<div  class="jvm-navbar">
  <div class="navbar-header">
    <a class="beuhne" href="./index.html">BÜHNE FREI FÜR:</a>
  </div>
  <div class="navbar-links-div">
    <ul class="navbar-links-list">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">AKT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./aufgabe1.html">...1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./aufgabe2.html">...2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="./aufgabe3.html">...3</a>
      </li>
    </ul>
  </div>
</div>
<div class="landing-image-container">
<img class="landing-image" src="https://res.cloudinary.com/dgmgwjok1/image/upload/v1615651137/Landing3_f8aqrd.png" alt="Foto Landing">
</div>



</body>
</html>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="../stylesheets/navbar.css">
<link rel="stylesheet" href="../stylesheets/index.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">

