.main-banner {
  margin-left: -2vh;
  width: 101%;
  height: 100%;
  // margin-top: -2vh;
}

.cut-banner {
  width: 100%;
  padding-top: 5vh;
}

.cut-description {
  width: 100%;
  background-color: white;
}

.cut-text-container {
  background-color: white;
  width: 70%;
  height: 40vh;
  margin-left: 15%;
  font-family: ‘Roboto Condensed’, sans-serif;
  text-align: center;
}

.cut-header {
  font-family: ‘Roboto Condensed’, sans-serif;
  padding-top: 8vh;
}

.cut-summary {
  padding-top: 3vh;
  font-size: 20px;
}

.plana-banner {
  width: 100%;
  height: 90%;
  padding-top: 14vh;
}

.plana-description {
  width: 100%;
  background-color: white;
}
.plana-text-container {
  width: 100%;
  height: 48vh;
  font-family: ‘Roboto Condensed’, sans-serif;
  text-align: center;
}

.plana-summary-div {
  width: 70%;
  margin-left: 15%;
}

.nav-link {
  font-family: ‘Roboto Condensed’, sans-serif;
  color: black;
  margin-top: 2.5vh;
  text-decoration: none;
}

.plana-header {
  padding-top: 8vh;
  font-family: ‘Roboto Condensed’, sans-serif;
}

.plana-summary {
  padding-top: 3vh;
  font-size: 20px;
}

.fast_track-banner {
  width: 100%;
}

.fast_track-description {
  width: 100%;
  background-color: white;
}

.fast_track-text-container {
  width: 70%;
  margin-left: 15%;
  font-family: ‘Roboto Condensed’, sans-serif;
  text-align: center;
  padding-bottom: 6vh;
}

.fast_track-header {
  font-family: ‘Roboto Condensed’, sans-serif;
  padding-top: 6vh;
  width: 120%;
  margin-left: -10%
}

.fast_track-summary {
  padding-top: 3vh;
  font-size: 20px;
}
