
.nav-link {
  font-family: ‘Roboto Condensed’, sans-serif;
  color: black;
  margin-top: 2.5vh;
  text-decoration: none;
}

.landing-image-container {
  height: 100%;
  width: 100%;
}
.landing-image {
  width: 100%;
  height: 93vh;
}


