.jvm-navbar {
  background-color: white;
  height: 7vh;
}
.navbar-links-div {
  margin-left: 118vh;
  font-size: 40px;
  margin-top: -8.3vh;
}
.navbar-links-list {
  display: flex;
  list-style: none;
  margin-top: 2.5vh;
}
.nav-link {
  font-family: ‘Roboto Condensed’, sans-serif;
  color: black;
  margin-top: 2.5vh;
}

.nav-link:hover {
  color: black;
}

.beuhne {
  font-family: ‘Roboto Condensed’, sans-serif;
  font-size: 40px;
  margin-left: 1vh;
  color: black;
  text-decoration: none;
}

.beuhne:hover {
  color: black;
}
